@import url('https:fonts.googleapis.com/css?family=Muli');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background: #2b88f0;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #fff;
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    padding: 10px;
    width: 500px;
}

textarea {
    outline: none;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    margin: 0 0 20px;
    font-size: 16px;
}

.tag {
    background: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
}

.tag.highlight {
    background: #273c75;
}