@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Bungee+Outline&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  /* font-family: "Bruno Ace", cursive; */
  /* font-family: "Bruno Ace SC", cursive; */
  /* font-family: 'Bungee Outline', cursive; */
  font-family: "Titillium Web", sans-serif;
}

::selection {
  background: blue;
  color: white;
}

.nav-el {
  font-family: "Bungee Outline";
  cursor: pointer;
  transition: all 0.5s;
}

.nav-el:hover {
  color: blue;
  transform: translateX(-2px);
}

@media screen and (max-width: 776px) {
  .nav-el:hover {
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 0;
}

.h1-text {
  color: black;
  font-family: "Bungee Outline", cursive;
}
