@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Bungee+Outline&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  /* font-family: "Bruno Ace", cursive; */
  /* font-family: "Bruno Ace SC", cursive; */
  /* font-family: 'Bungee Outline', cursive; */
  font-family: "Titillium Web", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background: blue;
  color: white;
}

.h1-text {
  color: black;
  font-family: "Bungee Outline", sans-serif;
}

.md-nav {
  background-image: url("./images/jonas-kakaroto.jpg");
  background-position: center center;
  background-size: cover;
}

.md-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.nav-el {
  font-family: "Bungee Outline", sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}

.nav-el:hover {
  color: blue;
  transform: translateX(-2px);
}

@media screen and (max-width: 768px) {
  .nav-el:hover {
    transform: translateX(2px);
  }
}

.left-div-container {
  scroll-snap-type: y mandatory;
}

@media screen and (min-width: 768px) {
  .left-div-container::-webkit-scrollbar {
    width: 6px;
    background: rgba(0, 0, 0, 0.5);
  }
  .left-div-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
  }
}

section {
  scroll-snap-align: start;
}
