@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, skyblue, blue);
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
}